/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.navbar-brand{
  margin-left: 20px;
}

.container{
  margin-top:5%;
}

.border{
  padding: 10px;
}
.btn{
  margin-right: 20px;
}
.fa {
  margin-right: 10px;
}

table .btn{
  margin: 2px;
}

.form-group{
  margin-top: 10px;
}

.home-banner {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}